/* Container */
.bmi-checklist-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    /* background-image: url('../../public/images/thirdbg.svg'); */
    background-image: url('../../../public/images/back.svg');
    /* background-size: cover;
    object-fit: cover; */
/*  */

    /* background-color: #7baa7b8b; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* BMI Input Form */
.bmi-input-form {
    background-color: #fffbfb;
    /* background-image: url('../../public/images/Desktop.svg'); */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.299);
    width: 45%;
    max-width: 500px;
    margin-left: 10%;
}

.bmi-input-field {
    margin-bottom: 15px;
    border-radius: 20px;
}

.bmi-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.bmi-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #cccccc;
}

.bmi-gender-options {
    display: flex;
    gap: 10px; /* Adjust this value as needed */
    align-items: center;
}

.bmi-gender-options div {
    display: flex;
    align-items: center;
}

.bmi-gender-options input[type="radio"] {
    margin-right: 5px;
}

/* BMI Checklist */
.bmi-checklist img {
    height: 550px;
    width: 600px;
    margin-left: -10%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .bmi-checklist-container {
        flex-direction: column;
        align-items: center;
    }

    .bmi-input-form,
    .bmi-checklist {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .bmi-checklist-header {
        font-size: 1.6rem;
    }

    .bmi-checklist-item {
        font-size: 1rem;
    }
}
