@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


.landing-page {
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  background-image: url('../../../public/images/Desktop.svg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  color: white;
  padding: 20px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
  display: flex; 
  flex: 1;
  justify-content: space-between; 
}

.text-section {
  flex: 1; 
  padding: 20px;
  position: relative;
  top: 25%;
  max-width: 80%; 
}

.text-section h1 {

  font-family: "Merienda", cursive;
  font-size: 65px;
  font-weight: 700;
  text-shadow: 2px 2px 4.5px rgba(161, 181, 145, 0.5); 

}

.text-section p {
  margin-top: 2%;
  font-size: 20px;
}

.image-section {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-image {
  max-width: 100%;
  height: auto;
}


.button-group {
  margin-top: 5%;
  display: flex; 
  gap: 10px;
}

.main-button {
  font-family: "Crimson Text", serif;
  font-size: 0.9rem;
  margin-right: 10px; 
  padding: 10px 20px;
  border: none;
  background-color: #607b2286;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.main-button {
  margin-top: 10px;
  height: 45px;
  width: 170px;
}



@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-section {
    display: none; 
  }
}

@media (max-width: 480px) {
  .text-section h1 {
    font-size: 1.8rem;
  }

  .button-group {
    flex-direction: column;
  }
}


.lemon-glass {
  position: absolute;
  top: 50%; 
  left: 20px;  
  z-index: 10;  
}

.lemon-glass img {
  width: 125px;
  height: auto;
}

@media (max-width: 768px) {
  .lemon-glass img {
    width: 70px; 
  }
}

@media (max-width: 480px) {
  .lemon-glass img {
    width: 50px; 
  }
}
